@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Sitecore.DemoProject.MVC.Web.Models
@model HeaderModel

<nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-5">
    <a href="index.html" class="navbar-brand d-block d-lg-none">
        <h1 class="m-0 display-4 text-primary text-uppercase">Gymster</h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav mr-auto py-0">
            @foreach (var navigationItem in Model.Navigations)
            {
                if (navigationItem.Children != null && navigationItem.Children.Count > 0)
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@navigationItem.NavigationTitle</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            @foreach (var item in navigationItem.Children)
                            {
                                <a href="@item.NavigationUrl" class="dropdown-item">@item.NavigationTitle</a>
                            }
                        </div>
                    </div>
                }
                else
                {
                    var activeClass = navigationItem.IsActiveLink ? "active" : string.Empty;
                    <a href="@navigationItem.NavigationUrl" class="nav-item nav-link @activeClass">
                        @navigationItem.NavigationTitle
                    </a>
                }
            }
        </div>
        <a href="" class="btn btn-primary py-md-3 px-md-5 d-none d-lg-block">Join Us</a>
    </div>
</nav>